@import "tailwindcss";

@theme { 
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.bg-grad-dark {
  background: linear-gradient(180deg, #343438 0%, #1c1c27 100%);
}

.bg-grad-light {
  background: linear-gradient(180deg, #c9c9d3 0%, #74748b 100%);
}